{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="max-width: 50%">
    <div class="p-4 border rounded-4 bg-body-tertiary">
        <h1 class="mb-4 fw-bold text-center mt-1"><i class="bi bi-person-check display-2 me-3"></i>Please Log in</h1>

        <form class="form-register fs-5" data-bs-theme="light" method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control mb-3", placeholder="Username") }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control mb-5", placeholder="Password") }}

            <div class="mt-4 text-center">
                <h6>You don't have an account?</h6>
                <a class="btn btn-sm btn-primary fs-5 text-center" href="{{ url_for('auth.register_page') }}">Register</a>
            </div>

            <div class="d-grid mt-5 gap-2">
                {{ form.submit(class="btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}