Flask~=3.1.1
Flask-WTF
Flask-Login~=0.6.3
Flask-Mail
Flask-SQLAlchemy
Flask-Migrate~=4.1.0
python-dotenv~=1.1.1
email-validator
Celery~=5.5.3
Redis
WTForms~=3.2.1
dnspython~=2.7.0
SQLAlchemy~=2.0.41
Werkzeug~=3.1.3
alembic~=1.16.2