{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block homeActive %}
active
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="container text-center mt-5">
        <div class="row mb-5 mt-5">
            <div>
                <i class="bi bi-lightbulb-fill display-1 text-warning" style="font-size: 5rem;"></i>
                <br><br><br>
                <figure>
                    <blockquote class="blockquote fs-1 fw-bold fst-italic">
                        <p>"You become what you believe."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer fs-3">
                        Buddha
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary fw-bold btn-lg px-5 py-3 fs-3">Get Inspired</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}